node_modules/
.env
.env.example
.DS_Store
*.log
*.ico
*.png
*.jpg
!frontend/public/**/*.png
!frontend/public/**/*.jpg
!frontend/public/**/*.webp
!benefits-app/public/**/*.png
!benefits-app/public/**/*.jpg
uploads/avatar-*.jpeg